<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 목록</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
  <h2>게시글 목록</h2>
  <table class="board_list">
    <colgroup>
      <col width="15%" />
      <col width="*" />
      <col width="15%" />
      <col width="20%" />
    </colgroup>
    <thead>
    <tr>
      <th scope="col">글번호</th>
      <th scope="col">제목</th>
      <th scope="col">조회수</th>
      <th scope="col">작성일</th>
    </tr>
    </thead>
    <tbody>
    <!-- 게시글 목록이 있는 경우 -->
    <tr th:each="notice : ${list}">
      <td th:text="${notice.id}"></td>
      <td class="title">
        <a th:href="@{/notice/openNoticeDetail(id=${notice.id})}" th:text="${notice.title}"></a>
      </td>
      <td th:text="${notice.hitCnt}"></td>
      <td th:text="${notice.createdDatetime}"></td>
    </tr>
    <!-- 게시글 목록이 없는 경우 -->
    <tr th:if="${#lists.isEmpty(list)}">
      <td colspan="4">조회된 결과가 없습니다.</td>
    </tr>
    </tbody>
  </table>
  <a class="btn" href="/notice/openNoticeWrite">글 쓰기</a>
</div>
</body>
</html>
